.Reset {
  height: inherit;

  display: grid;
  place-items: center;
}
.ResetForm {
  background-color: white;
  text-align: center;

  padding: 80px 0px;
  gap: 30px;

  * {
    color: black;
  }

  label {
    display: grid;
    text-align: start;
    gap: 10px;
    font-size: 28px;
  }

  input {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid black;
  }

  button {
    background-color: var(--normalButtonBack);
  }
}
