.Login {
  height: inherit;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: ". Form";
  place-items: center;
}
.EnterForm {
  grid-area: Form;
  width: 560px;
  height: 80%;

  button {
    background-color: var(--enterButtonBack);
  }
}
