.section1 {
  height: 100svh;
  background: url("../../assets/landing-image.jpg") no-repeat;
  background-size: 100% 100%;

  display: grid;
}

.Title {
  width: 750px;
  background-image: linear-gradient(-45deg, gray, rgb(24, 24, 24));

  padding: 80px;
  margin: 30px;
  border-radius: 15px;

  align-self: center;
  text-align: center;
  font-size: 60px;

  display: grid;
  gap: 15px;

  span {
    color: red;
  }
}
