.section3 {
  height: 100svh;
  background: url("../../assets/section3.jpg") center center no-repeat;
  background-size: 150% 100%;

  padding-top: 100px;

  display: grid;
  place-items: center;

  h3 {
    font-size: 40px;
  }
}
.ContactList {
  display: flex;
}
.ContactItem {
  padding: 20px;
  margin: 10px;
  background-color: rgba(85, 85, 85, 0.692);

  display: grid;
  gap: 15px;

  text-align: justify;

  animation: identifier 1s linear infinite;

  &:nth-child(2) {
    animation-delay: 0.2s;
  }
  &:nth-child(3) {
    animation-delay: 0.4s;
  }
  &:nth-child(4) {
    animation-delay: 0.6s;
  }
  &:nth-child(5) {
    animation-delay: 0.8s;
  }
}
@keyframes identifier {
  0%,
  100% {
    translate: 0;
  }
  50% {
    translate: 0 20px;
  }
}
