:root {
  --formBack: #2c2c2ce3;

  --enterButtonBack: #f40707;

  --normalButtonBack: #e82f2f;
}

.form {
  border-radius: 20px;
  z-index: 2;
  padding: 30px;
  background-color: var(--formBack);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  position: relative;

  & > * {
    width: 60%;
  }
}

.form-btn {
  cursor: pointer;

  color: black;
  font-size: 20px;

  padding: 15px;
  border: none;
  border-radius: 10px;
}

.errorMessage {
  color: var(--normalButtonBack);
  font-size: 15px;
  height: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}
