:root {
  --enterFormBack: #2c2c2c9c;
  --enterButtonBack: #f40707;

  --normalFormBack: #4a4a4a96;
  --normalButtonBack: #e82f2f;
}

.form {
  border-radius: 20px;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  & > * {
    width: 60%;
  }
}

.form-btn {
  cursor: pointer;

  color: black;
  font-size: 20px;

  padding: 15px;
  border: none;
  border-radius: 10px;
}
