.Funcionarios {
  padding: 20px;
}
.FuncionariosForm {
  width: 850px;
  height: fit-content;
  background-color: var(--normalFormBack);

  border: 2px solid white;
  margin: auto;
  padding: 50px;

  position: relative;

  display: grid;
  justify-content: space-between;
  grid-template-areas:
    "fields title"
    "fields button";

  h3 {
    width: 100%;

    text-align: center;
    font-size: 28px;
  }
}
.FormBtn {
  grid-area: button;

  width: 100%;
  background-color: var(--normalButtonBack);

  margin: 0 35px;

  position: absolute;
  bottom: 18px;

  justify-self: center;
}
.pt1 {
  grid-area: fields;

  width: 350px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
