:root {
  --linkSize: 40px;
}

.nav {
  width: inherit;
  height: 90px;
  background-color: var(--tabBarBack);

  display: grid;
  place-items: center;
  grid-template-columns: repeat(10, 1fr);

  a {
    width: var(--linkSize);
    height: var(--linkSize);
    display: block;

    img {
      width: inherit;
      height: inherit;
    }
  }
}
