:root {
  --linkSize: 50px;
}

.nav {
  width: inherit;
  height: 90px;
  background-color: var(--tabBarBack);

  display: grid;
  place-items: center;
  grid-template-columns: repeat(13, 1fr);

  position: fixed;
  inset: 0 0 auto;

  a,
  button {
    transition: background-color 0.6s;
    width: var(--linkSize);
    height: var(--linkSize);
    background-color: var(--tabBarBack);
    display: block;

    padding: 5px;
    border-radius: 10px;

    img {
      width: 100%;
      height: 100%;
    }
  }
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
