.VeiculosForm {
  width: 850px;
  height: 100%;
  margin: auto;

  background-color: var(--normalFormBack);
  border: 2px solid white;

  position: relative;

  display: grid;
  justify-content: space-between;
  grid-template-areas:
    "fields title"
    "fields button";

  h3 {
    width: 100%;

    align-self: flex-start;

    text-align: center;
    font-size: 28px;
  }
}
.pt1 {
  grid-area: fields;

  width: 350px;
  height: inherit;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.SubmitButton {
  grid-area: button;

  width: 350px;
  background-color: var(--normalButtonBack);

  margin: 0 auto;

  justify-self: center;
}
.IdInput {
  margin-bottom: 25px;
  input {
    color: black;
    padding: 10px;
  }
}
