.Veiculos {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  padding-left: 50px;
}
.VeiculosForm {
  width: 1100px;
  height: 90%;

  background-color: var(--normalFormBack);
  border: 2px solid white;

  position: relative;

  display: grid;
  justify-content: space-between;
  grid-template-areas:
    "fields title"
    "fields button";

  h3 {
    width: 100%;

    align-self: flex-start;
    margin-top: 120px;

    text-align: center;
    font-size: 28px;
  }
}
.FormBtn {
  grid-area: button;

  width: 400px;
  background-color: var(--normalButtonBack);

  margin: 0 30px 0;

  justify-self: center;
}
.pt1 {
  grid-area: fields;

  width: 450px;
  height: inherit;
  margin: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  input {
    margin-top: 7px;
    margin-bottom: 9px;
    padding: 17px;
  }
}
.IdInput {
  input {
    color: black;
  }
}
