.Clientes {
  padding: 40px;
}

.clientForm {
  width: 500px;
  height: 100%;
  margin: auto;
  background-color: var(--normalFormBack);
  border: 3px solid white;

  button {
    background-color: var(--normalButtonBack);
  }
}
