.ClientesForm {
  width: 500px;
  margin: auto;
  background-color: var(--normalFormBack);
  border: 3px solid white;

  h3 {
    width: 300px;
    text-align: center;
    font-size: 30px;
  }

  button {
    background-color: var(--normalButtonBack);
  }
}
