.Clientes {
  padding: 40px;
}

.ClientesForm {
  width: 500px;
  height: 100%;
  margin: auto;
  background-color: var(--normalFormBack);
  border: 3px solid white;

  h3 {
    text-align: center;
    font-size: 30px;
  }

  button {
    background-color: var(--normalButtonBack);
  }
}
