.field {
  width: inherit;

  margin-bottom: 10px;

  font-size: 30px;

  display: flex;
  flex-direction: column;

  input {
    background-color: #525252;
    border: 2px solid gray !important;

    border: none;
    border-radius: 10px;
    padding: 10px;

    &:focus {
      outline: none;
    }
  }
}
.form-btn {
  width: inherit;
  background-color: var(--enterButtonBack);

  cursor: pointer;

  color: black;
  font-size: 20px;

  padding: 15px;
  border: none;
  border-radius: 10px;
}
#Login,
#SignIn {
  height: inherit;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: ". Form";
  place-items: center;
}
.enter-form {
  grid-area: Form;
  width: 480px;
  height: 80%;
  background: rgba(44, 44, 44, 0.61);

  border-radius: 20px;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  & > * {
    width: 60%;
  }
}
