@import url("../Components/Form/Form.css");

:root {
  --appBack: #100e0e;

  --appDetailBack: #ba0b0b;

  --tabBarBack: #1b1b1b;

  --listItemBack: #525252;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: var(--appDetailBack);
  border-radius: 10px;
}

body {
  overflow: hidden;
}
.App {
  background-color: var(--appBack);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 40px;
  font-weight: 200;

  position: absolute;
  top: 80px;
  left: 80px;
}
.field {
  margin-bottom: 10px;

  font-size: 24px;

  display: flex;
  flex-direction: column;

  input,
  textarea {
    background-color: #525252;
    border: 2px solid gray !important;

    border: none;
    border-radius: 10px;
    padding: 17px;
    margin-top: 7px;
    margin-bottom: 9px;

    &:focus {
      outline: none;
    }
  }
}
.active {
  background-color: white !important;

  img {
    filter: invert(1);
  }
}
