:root {
  --landingHeaderBackColor: #69696978;
  --section2BackColor: #313131;
}

.section1 {
  height: 100svh;
  background: url("../../assets/landing-image.jpg");
}

.header {
  height: 128px;
  background-color: var(--landingHeaderBackColor);
}

.section2 {
  background-color: var(--section2BackColor);
  height: 200svh;
}
