.Agendar {
  height: 90%;

  display: flex;
  align-items: center;
  padding-left: 50px;
}
.AgendarForm {
  width: 900px;
  height: 90%;
  background-color: var(--normalFormBack);

  border: 4px solid red;
  padding: 40px;

  position: relative;

  display: grid;
  justify-content: space-between;

  h3 {
    width: 100%;

    align-self: flex-start;

    text-align: center;
    font-size: 28px;
  }
}

.FieldContainer {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    ". data"
    "desc desc";
  gap: 15px;
}
.AgendarField {
  width: fit-content;

  color: black;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;

  input {
    color: black;
    border-radius: 15px;
    padding: 15px;
    width: 150px;
  }
}
.Date {
  grid-area: data;
}
.Text {
  grid-area: desc;

  flex-direction: column;
  align-items: normal;
  gap: 0;
}
.TextField {
  color: black;
  border-radius: 15px;
  padding: 15px;
  resize: none;
  width: 600px;
  height: 100px;
}
.Select {
  width: 80%;
  height: fit-content;

  border-radius: 10px;
  padding: 5px;

  option {
    color: black;
    border-radius: 15px;
    padding: 15px;
  }
}
.Diviser {
  width: 700px;
  height: 10px;
  margin: auto;
  background-color: red;
  border-radius: 5px;
}
.SubmitContainer {
  height: 150px;
  padding: 10px 50px;
  background-color: #d9d9d9c9;

  border-radius: 10px;
  outline: 1px solid red;
  outline-offset: 9px;
  margin-left: 9px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  span {
    color: black;
    font-size: 24px;
  }
}
.FormBtn {
  grid-area: button;

  width: 100%;
  background-color: var(--normalButtonBack);

  justify-self: center;
}
